<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container-fluid"> 
        <div class="row justify-content-center">
            <div class="col-8">
                <% movies.forEach(movie =>{ %>
                    <ul>
                        <li>
                           <a href=/movies/detail/<%- movie.id%>><%- movie.title %></a>
                        </li>
                    </ul>
                <% }) %>
            </div>
        </div>
        <a href="/movies/create"><button type="button" class="btn btn-primary">CREATE</button></a>
    </div>
<%- include('partials/scripts.ejs')%>
</body>
</html>