<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <h1 class="text-center">MAS RECIENTES</h1>
                <hr>
                <% newMovies.forEach(newMovie =>{ %>
                    <ul>
                        <li>
                           <a href=/movies/detail/<%- newMovie.id%>><%- newMovie.title %></a>
                        </li>
                    </ul>
                <% }) %>
            </div>
        </div> 
    </div>
    <%- include('partials/footer.ejs') %> 
<%- include('partials/scripts.ejs')%>
</body>
</html>